.mainContainer {
    padding: 10px;

}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7rem;
}
.headerContainer .title {
    font-size: 1rem;
}
.bottomLine {
    opacity: 0.4;
    color: grey;
    margin-bottom: 5px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstCellFlex {
    display: flex;
    align-items: center;
}
.firstCellFlex img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block !important;
}
.firstCellInfo {
    margin-left: 10px;
}
.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userForm{
    margin: 0 30%;
}

.saveButton{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
}

.profileImage{


}
.actionButton{
    display: flex;
    gap: 2px;
    /* justify-content: center; */
}

.formContainer{
  max-width: 40%;
  min-width: 30rem;
  margin: auto;
}
.product{
    width: 100%;
}
.dialogWrap{
    padding: 1.5rem;
    max-width: 500px;
}
.cancelButton{
    text-align: left !important;
}
.buttonContainer {
      display: flex;
      justify-content: space-between; 
}
.savebutton{
    text-align: right !important;
  }
.breakWord{
    word-break: break-all;
  white-space: pre-wrap;
}