.outerFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-bottom: 30px; */
 flex-wrap: wrap;
}
.userContainer{
  overflow: hidden !important;
}
.count{
 margin: auto !important;
}
.outerFlex1 {
  padding-bottom: 30px;
}
.iconButton {
  display: flex;
  gap: 5px;
}

.saveButton {
  text-align: right !important;
  margin-top: 10px !important;
}
.imageGuide {
  display: flex;
}
.new_line {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2px;
}
.cont {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lowerWrap {
  flex: 1;
}
.marginTop {
  margin-top: 4px !important;
}
.marginTop1 {
  margin-top: 4px !important;
}
.marginTop2 {
  /* margin-top: -2px !important; */
}
.lowerWrap1 {
  display: flex;
  align-items: center !important;
  flex: 1 1 100%;
}
.mainBox {
  width: 100% !important;
  margin-top: 20px;
}

.dateContainer {
  width: 100% !important;
}

/* .claimListWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.plainPaper {
  background-color: #F7F7F9;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,.15);
  margin-bottom: 20px;
  padding: .4rem 1.2rem;
}
.imageGuideFlex{
  display: flex !important;

}





.custonCSS{
  width: 50% ;
} */
