.container {
    display: flex;
    flex-direction: column;
  }
  .cardSelected {
    border: 2px solid #2063CE;
    text-align: center;
    width: 138px;
height: 86px;
  }
  .cardNotSelected{
    border: 1px solid #dfdfe3;
    text-align: center;
    width: 138px;
height: 86px;
  }
  .cardGrid1 {
    display: flex;
  
    /* justify-content: center; */
    gap: 20px;
  }
  .custom_option {
    /* border: 2px solid #2063CE; */
    margin: 0;
    border-radius: 0.625rem;
    cursor: pointer;
    /* background-color: rgba(102, 108, 255, .12); */
    padding:10px !important
    /* color: #666cff; */
   
  }
  .custom_opon1 {
    cursor: pointer;
    /* border: 1px solid #eaeaec; */
    border-radius: 0.625rem;
    /* margin: 1px; */
    /* border-color: #6d788d; */
    /* color: #636578; */
    /* background-color: rgba(102, 108, 255, .12); */
    padding:10px !important
  }
  .noPadding{
    padding: 0;
  }
  .div1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px !important;
   
  }
  .spacer {
   margin-bottom: 10px; 
  }
.boxCont {
    margin: 10px 0px;
}
.sideMargin {
    margin: 0px 10px;
}
.image{
 display: flex;
  /* margin-left: 175px; */
  float: right;
  align-items: flex-end !important;
  margin-top: -55px;

}
.buttonAndImageContainer {
  /* display: flex;  */
 flex-wrap: nowrap !important;
}
.line{
  width: 100% !important;
  border-bottom: 2px solid #ebedf4;
  
}
  #card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 8px #00000029;
    display: flex;
    
   
  }
  
  .congratulation {
    width: 30%;
    height: 214px;
   
    display: flex;
    flex-direction: column !important;
    justify-content: space-between;
    
  }
.title{
  color: #636578;
  font-family: Arial;
  
}
  .sales {
    width: 50%;;
    height: 214px !important;
    display: flex;
    flex-direction: column !important;
  }
  .quick {
    width:20%;
    height: 214px;

    display: flex;
    flex-direction: column !important;
    white-space: nowrap;
  }
  .login {
    /* padding: 10px 10px 10px 10px !important; */
    border-radius: 5px !important;
    color: white !important;
    background: #2063ce !important;
    /* background-size: 200% 100%; */
    background-position: right bottom;
    transition: all 0.5s ease-out;
    /* display: flex !important; */
    width: 120px;
    height: 32px;
    font-size: 12px;
   margin-bottom: -30px !important;
  }
  .primary{
    /* width: 99px; */
    width: 99px;
    font-size: 12px;
    white-space: nowrap;
    margin-bottom: -40px !important;
    height: 32px;
  }
  .login:hover{
    background-color: #25ceae !important; 
  }
.subtitle{
  color: #888888;
}
.subtitle .svg{
  color: #888888;
}

  .logingreen {
    padding: 10px 10px 10px 10px !important;
    border-radius: 7px !important;
    color: white !important;
    background: #25ceae !important;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    display: flex !important;
    width: 120px;
  }
  
  .newCustomer {
    display: flex;
    gap: 10px;
    justify-content: space-between !important;
    margin-top: 20px;
  }
  
  .iconCont{
      display: flex;
      /* width: 30%;
      height: 70px; */
      align-items: center;
      gap: 10px;
      flex-direction: row !important; 
  }
  .customerDiv2{
      display: flex;
      flex-direction: column !important;
      white-space: nowrap !important;
  }
  .customerImg{
   
    display: block;
  }
  .sidePanelWrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.2rem;
  }
  .cardWrapper{
    display: flex;
    flex-direction: column;
    gap:1.25rem;
  }
  .buttonBox{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .inactive{
    display: none;
  }
  .nameWrapper{
    display: flex;
  }
  .textbox{
    /* margin-top: 0.5rem; */
    flex: 3 1;
    /* width:80%; */
  }
  .dropdown{
    /* width:20%; */
    flex: 1 1;
  }
  .countryBox{
    flex: 1 1;
  }
  .countryCodeBox{
    flex:3;
    /* padding: 7px 10px; */
    margin-top: 0.5rem;
  }
  .widthfull{
    width:100%
  }
.nosideMargin{
  margin-left: 0;
  margin-right: 0;
}
.cursor{
  cursor: pointer;
}
  @media only screen and (max-width:1296px) {
      /* .iconCont{
          display: flex;
          width: 30%;
          height: 100px;
          align-items: center;
          flex-direction: column; 
          justify-content: center;
          gap: 10px;
      } */
      
  }
  
  @media only screen and (max-width: 1024px) {
    .div1 {
      display: flex;
      flex-direction: column;
      gap: 10px !important;
      padding: 15px;
    }
    .congratulation {
      width: 100%;
      /* height: 214px; */
      gap: 10px !important;
      /* padding: 15px; */
    }
    .sales {
      width: 100%;
    }
    .quick {
      width: 100%;
      height: 214px;
    }
    .newCustomer {
      display: flex;
     
      gap: 10px;
      flex-direction: column !important;
      justify-content: space-between !important;
    }
    /* .iconCont{
      display: flex;
      width: 30%;
      height: 100px;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
  } */
  }
    @media (max-width: 768px) {
      .buttonAndImageContainer {
        /* position: relative; */
      }
      .image{
        position: static;
        /* margin-top: -55%; */

        
      }
      .sales{
        height: auto !important;
      }
      .customerImg{
        display: flex;
        align-items: flex-end !important;
      }
    }