.mainContainer {
    padding: 10px;
 
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7rem;
}
.headerContainer .title {
    font-size: 1rem;
}
.bottomLine {
    opacity: 0.4;
    color: grey;
    margin-bottom: 5px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dialogWrap{
    padding: 1.2rem;
    max-width: 500px;
}
.prodWrpa{
    display: flex;
    gap: 10px;
    /* max-width: 150px; */
    flex-wrap: wrap;
}
.tags{
    background: #E4E4E6 0% 0% no-repeat padding-box;
    border-radius: 18px;
    padding: 5px 10px;
    text-align: center;
    /* max-width: 40px; */
  }
.firstCellFlex {
    display: flex;
    align-items: center;
}
.firstCellFlex img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block !important;
}
.firstCellInfo {
    margin-left: 10px;
}
.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userForm{
    margin: 0 30%;
}

/* .saveButton{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
} */

.outerFlex1{
    padding-bottom: 30px;
  }
.iconButton{
    display: flex;
    gap: 5px;
  }
.actionButton{
    display: flex;
    gap: 2px;
}

.formContainer{
  max-width: 40%;
  min-width: 30rem;
  margin: auto;
}
.contact{
    width: 100%;
    margin-bottom: 20px;
}
.radio{
    display: flex;
    gap: 20px;
    margin-bottom: 8px;
 }
.prefix{
    /* width: 30%; */
    
    margin-top: -10px;
    
}
.name{
    width: 300%
  
}
.stages{
    width: 30% !important;
}
.lineWrapper{
    display: flex;
    gap: 10px;
}
.date{
    padding: 10.5px 14px 6px 12px !important;
}
.saveButton{
    text-align: right !important;
}
  
.cancelButton{
  text-align: left !important;
}
.buttonContainer {
    display: flex;
    justify-content: space-between; 
  }
.gap{
  gap: 40px;
}
@media (max-width: 767px) {
    .radio {
     flex-wrap: wrap;
  
    }
    
  }
  @media (max-width: 1024px) {
    .radio {
      flex-wrap: wrap;
    }
  }