.backgroundColor {
  background-color: white !important;
  /*border-top-left-radius: 10px;*/
  /*border-top-right-radius: 10px;*/
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 20px 80px #00000011 !important;
}
.title{
  display: 'flex' !important;
  align-items: center !important;
}
.members{
  margin-top: 20px;
}
.date{
  display: flex;
  align-items: center;
}
.gap{
  display: flex;
  gap: 3px;
}
.avatar{
  width: 44px;
height: 44px;
}
.status{
 /* align-items: flex-end; */
  /* margin-left: 40px; */
  flex: 1;
  margin-left: auto !important;
}
.menu{
  display: inline-block;
  width: 4px;
height: 20px;
/* margin-left: 175px; */
}
.meetingSchedule{
 min-width: 38%;;
  /* background-color:#FFFFFF; */
  height: 422px;;
  /* box-shadow: 0px 0px 8px #00000029; */
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  /* margin-top: 10px; */
  /* padding: 20px; */
}
.eventBirthdayWrapper {
  flex: 1;
  position: relative;
  box-shadow: 0px 0px 8px #00000029;
  border-radius: 10px !important;
}
.paperBackground {
  /* padding: 10px 12px; */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white !important;
  height: 300px;
  overflow: auto;
}
.paperBackground1 {
  padding: 10px 12px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white !important;
}
.birthdayEventWrapper {
  /* background-color: yellow; */
  background-color: white !important;

  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  /* border-bottom: 2px solid #ebedf4; */
}
.imageNameContainer {
  display: flex;
  gap: 15px;
}
.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* justify-content: space-between; */
  font-size: 0.875rem;
}
.profileName {
  font-size: 0.75rem;
  font-weight: 600;
}
.userImage {
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.parentWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.noEventWrapper {
  /* background-color: yellow; */
  background-color: white !important;
  height: 90%;
  display: flex;
  justify-content: center;
  padding: 10px 15px;
}
.noEvent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.noEvent > span {
  margin-top: 20px;
  font-size: 0.875rem;
  font-weight: 600;
}
.anni {
  font-size: 0.75rem;
  font-weight: 600;
  color: #2896e9;
}
.workLogo {
  border-radius: 5px;
  background-color: #2896e9;
  padding: 3px 8px;
}
.profilePosition {
  font-size: 0.7rem;
}
.profileAddress {
  font-size: 0.7rem;
}
.eventBgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 22%;
  /* background-image: url("../../../../../assets/img/ic_bunting_bg.png"); */
  background-repeat: no-repeat;
  background-position: top;
}
.iconTabsEvents_Box{
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
}
.iconTabsEvents_Box>img{
  height: 24px;
  width: 24px;
}
.iconCardsBoxContainer{
padding-top: 12px;
}
.iconCardsBox{
  display: flex;
  gap: 18px;

}

.iconCards{
  height: 24px;
  width: 24px;

}
.containerWidth{
flex: 1;
height: 422px;
padding: 0px;
}

.TaskListEventWrapper{
  background-color: white !important;

  display: flex;
  flex-direction: column;

  /* padding: 10px 10px; */
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid #ebedf4;

}
.IconDateBox{
  display: flex;
  align-items: center;
  gap: 2px;
}
.TaskList{
  display: flex;
  gap: 2rem;
  /* padding: 5px; */
}
.buttonsBox{
  display: flex;
  gap:2rem;
  padding-top: 10px;
}
.messageCounter{
  border-radius: 50%;
    color: #FFFFFF;
    background: #25CEAE;
    height: 2rem;
    width: 2rem;
    padding: 5px;
}
.taskListButtonWrapper{
  display: flex;
  gap:1rem;
}
.dropdownButtonLabel{
  padding: 7px !important;
}
@media (max-width: 500px) {
  .noEvent > img {
    width: 250px;
  }
  .paperBackground {
    height: 300px;
  }
  .eventBgImage {
    height: 30%;
  }
  .paperBackground1 {
    padding: 10px 5px;
  }
}
@media (max-width: 767px) {
  .birthdayEventWrapper {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .paperBackground {
    padding: 10px 12px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white !important;
    height: 300px !important;

    /* height: 85vh; */
    /* max-height: 510px;
      min-height: 510px; */
  }
}

@media only screen and (max-width: 769px) {
  .userImage {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100% !important;
  }
  .meetingSchedule {
    min-width: 100%;
  }
}
