.quickAccess{
    /* width: 70%; */
    /* display: flex; */
    flex: 1;
    position: relative;
    height: 141px;
    /* justify-content: space-around; */
}
.title{
    margin-left: 10px;
}
.line{
    width: 100% !important;
    margin-top: 10px;
    border-bottom: 2px solid #ebedf4;
  }
.hline{
    /* width: 2px;  */
    height: 180%;
   border-right: 2px solid #ebedf4;
   margin-right: 10px;
margin-left: 10px;

}
.vline {
    width: 1px;
    height: 100%;
    background-color: #ccc; 
    margin: 0 10px; 
  }
.row{
    display: flex;
    align-items: center; 
    margin-top: 20px;
    /* border-right: 2px solid gray;
    line-height: 78%; */
    /* margin-left: 20px; */
    /* box-shadow: 0px 0px 3px #00000029; */
    /* border: none !important; */
    /* overflow: hidden; */
    width: 40%;
}
.firstRow{
    display: flex;
    /* align-items: center;  */
   margin-left: 7px;
   /* margin-left: auto; */

}
.image{
    /* margin-left: 10px; */
    flex-shrink: 0;
}
.text{
    flex: 1;
    /* margin-right: 22px; */
   white-space: nowrap;
   /* margin-right: 10px; */
}