@import url('https://fonts.googleapis.com/css2?family=Arial&display=swap');

  .container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }
  .buttonShrink {
    height: 40px;
  }
  .buttonW{
    margin: 5px !important ;
    height: 60px;
    width: 47%;
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: rgba(255, 255, 255, 1)  !important;
    font-size: 18px !important;
    font-weight: bold !important;
    font-family: Arial !important;
  }
  .buttonH{
    margin: 5px !important;
    background-color: #FF7700 !important;
    color: #FFFFFF !important;
    min-width: 50% !important;
    top: 50%;
    left: 5px;
/* height: 153px; */
/* font-size: 18px !important;
font-weight: bold !important;
font-family: Arial !important; */
  }

.button{
    margin: 5px !important;
    width: 22%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: rgba(255, 255, 255, 1)  !important;
    font-size: 18px !important;
    font-weight: bold !important;
    /* font-family: Arial !important; */
}

  .calculator {
    padding: 24px;
    border-radius: 10px;
    min-width: 42% !important;
    height: fit-content;
    /* left: 390px; */
   margin-left: -20px;
   display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
   /* flex-wrap: wrap !important; */
  }
.value{
  overflow: auto;
  font-weight: bold;
  
}

  /* @media (max-width: 1024px) {
    .container{
        display: flex;
        flex-direction: column;
    }
  } */
  @media (max-width: 767px) {
    .calculator{
      /* display: flex;
      flex-direction: row; */
        width: 320px;
        height: 441px;
    }
    .button{
      margin: 3px !important;
      width: 20% !important;
      flex-wrap: nowrap !important;
      /* height: auto; */
      /* width: calc(2% - 10px) !important; */
      /* flex-grow: 1; */
      max-width: none !important;
      white-space: nowrap;
      height: 60px;
    }
    
    .buttonH{
      width: 20%;
    }
    .buttonW{
      width: 131px;
      /* height: 60px; */
    }
    .value{
      font-size: 30px !important;
    }
  } 
  