@import url('https://fonts.googleapis.com/css2?family=Arial&display=swap');

  .container {
    display: flex;

    /* justify-content: center;
    align-items: center; */
  }
  .buttonW{
    margin: 1.5% !important ;
    height: 60px;
    width: 47%;
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: rgba(255, 255, 255, 1)  !important;
  
  }
  .buttonH{
    margin: 1.5% !important;
    background-color: #FF7700 !important;
    color: #FFFFFF !important;
    width: 22% !important;
    /* flex: 1; */
    top: 50%;

/* height: 153px; */

  }

.button{
    margin: 1.5% !important;
    width: 22%;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: rgba(255, 255, 255, 1)  !important;
}

  .calculator {
    padding: 10px;
  
    border-radius: 10px;
    min-width: 30% !important;
    height: 441px;  
    /* left: 390px; */
   /* margin-left: -20px; */
   display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
   /* flex-wrap: wrap !important; */
  }
.value{
  overflow: auto;
  font-weight: bold;
  
}

@media only screen and (max-width: 1296px) {
  .calculator{
    display: flex;
    /* min-width: 100%; */
    width: 42%;
     
  }
  .buttonW{
    width: 47%
  }
  .buttonH,
  .button {
    width: 22%;
  }
}
  @media only screen and(max-width: 1024px) {
    .calculator{
      display: flex;
      
       width: 100%;
       
    }
    .buttonW{
      width: 47%
    }
  .buttonH,
  .button {
    width: 22%;
  }
  
  } 
  