.mainContainer {
  padding:0px 24px;
 
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerContainer .title {
  font-size: 1rem;
}
.checkBox{
  padding: 5px !important;
}
.bottomLine {
  opacity: 0.4;
  color: grey;
  margin-bottom: 5px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.firstCellFlex {
  display: flex;
  align-items: center;
}
.firstCellFlex img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.firstCellInfo {
  /*margin-left: 10px;*/
}

.headerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.includeContainer {
  font-weight: 700;
  margin-left: 15px;
}
.mainContainer{
  width: 100% !important;

}
.crud {
  /* display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; */
  display: inline-block !important;
 justify-content: center !important;
  border: 1px solid #C5C5C5 !important;
  background-color: #ffffff;
  color: #636578;
  border-radius: 6px;
  padding: 0% 10% 0% 2% !important;
  text-align: center;
  /* width: 80%; */
}
.crudHover{
  /* display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; */
  display: inline-block !important;
  justify-content: center !important;
  background-color: #ffffff;
  color: #636578;
  border-radius: 6px;
  /* width: 80%; */
  text-align: center;
  padding: 0% 10% 0% 2% !important;
  border: 1px solid #2063CE;
}
.infoFiled {
  display: flex;
  gap: 5px;

  align-items: center !important;

}
.infoFiled1{
  display: flex;
  gap: 5px;
  align-items: center;
}
@media (max-width:768px) {
  .infoFiled1 {
  margin-left: 15% !important;
  
  }
}
.rowSeparator {
  border-bottom: 1px solid #ccc;
}

.rowSeparator:last-child {
  border-bottom: none;
}
.subTitle{
  font-size: 14px !important;
  color: #888888 !important;
  font-weight: 600 !important;
}
.headerTitle{
  font-size: 18px !important;
  color: #888888 !important;
  font-weight: 600 !important;
}
.teamImages {
  height: 30px;
  margin-right: 10px;
  border: 1px solid #cdcdcdfc;
  border-radius: 30px;
}
.infoTitle {
  margin-bottom: 15px;
  padding-bottom: 5px;
  margin-left: 15px;
  border-bottom: 1px solid;
  width: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.heading {
  margin-right: 5px;
}
